@tailwind base;
@tailwind components;
@tailwind utilities;

.gradinet {
  background: radial-gradient(
      68.6% 268.31% at 3.12% 5.47%,
      rgba(0, 102, 255, 0.2) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(
      230.62% 591.02% at 156.35% 206.84%,
      #429bed 0%,
      #043269 100%
    );
}

.gradinet2 {
  background: linear-gradient(
    180deg,
    #000000 -27.2%,
    rgba(14, 15, 18, 0) 126.17%
  );
}

.gradien3 {
  background: rgba(24, 24, 24, 0.35);
}

.inputGradient {
  background: rgba(100, 95, 95, 0.5);
}

.btnGradient {
  background: rgba(16, 132, 41, 0.8);
}

.adGradient {
  background: rgba(24, 24, 24, 0.38);
}

.adTextGradient {
  color: rgba(255, 255, 255, 0.35);
}
